USE [DB_PMITG_FGOS]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 10/12/2019 00:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_CLIENTE] [numeric](15, 0) NOT NULL,
	[ID_PEDIDO] [numeric](15, 0) NOT NULL,
	[ID_PRODUTO] [numeric](15, 0) NOT NULL,
	[DEPARTAMENTO] [varchar](60) NULL,
	[QUANTIDADE] [numeric](15, 0) NULL,
	[VALOR_UNITARIO] [numeric](15, 2) NULL,
	[PARCELAS] [numeric](15, 0) NULL,
	[DATA_PEDIDO] [date] NULL,
	[MEIO_PAGAMENTO] [varchar](60) NULL,
	[STATUS_PAGAMENTO] [varchar](60) NULL,
 CONSTRAINT [UC_PEDIDOS] UNIQUE NONCLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PEDIDO] ASC,
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
