USE [DB_PMITG_FGOS]
GO
/****** Object:  Table [dbo].[LOG_RODADAS]    Script Date: 10/12/2019 00:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_RODADAS](
	[ID_RODADA] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[DATA_RODADA] [datetime] NOT NULL,
	[TABELA] [varchar](200) NULL,
	[QUANTIDADE_ALTERADO] [numeric](15, 0) NULL,
	[QUANTIDADE_INSERIDO] [numeric](15, 0) NULL,
	[MENSAGEM_ERRO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RODADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOG_RODADAS] ADD  DEFAULT (getdate()) FOR [DATA_RODADA]
GO
ALTER TABLE [dbo].[LOG_RODADAS] ADD  DEFAULT ((0)) FOR [QUANTIDADE_ALTERADO]
GO
ALTER TABLE [dbo].[LOG_RODADAS] ADD  DEFAULT ((0)) FOR [QUANTIDADE_INSERIDO]
GO
