USE [DB_PMITG_FGOS]
GO
/****** Object:  Table [dbo].[INTEGRACAO_ARQUIVOS]    Script Date: 10/12/2019 00:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTEGRACAO_ARQUIVOS](
	[ID_INTEGRACAO_ARQUIVO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[DATA_LEITURA] [datetime] NOT NULL,
	[NOME_ARQUIVO] [varchar](200) NULL,
	[STATUS_PROCESSAMENTO] [varchar](50) NULL,
	[TABELA] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INTEGRACAO_ARQUIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INTEGRACAO_ARQUIVOS] ADD  DEFAULT (getdate()) FOR [DATA_LEITURA]
GO
ALTER TABLE [dbo].[INTEGRACAO_ARQUIVOS] ADD  DEFAULT ('PENDENTE') FOR [STATUS_PROCESSAMENTO]
GO
