USE [DB_PMITG_FGOS]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ANIVERSARIO]    Script Date: 10/12/2019 04:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MES_ANIVERSARIO] (@DATA DATE)
RETURNS INT
AS
BEGIN

  DECLARE @ANIVERSARIO INT = 0

	SELECT @ANIVERSARIO = 1 
	 WHERE DATEDIFF(MONTH,GETDATE(),@DATA) = 0	

  RETURN @ANIVERSARIO

END
GO
